#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr 12fr;
}

#searchbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: aquamarine;
}

#header {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: aqua;
}

#body {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: lightgrey;
}